:root {
  --main-golden: #ac893c;
  --main-dark-gray: #222222;
  --main-light-gray: #2d2d2d;

  --accent-dark-blue: #1f4068;
  --accent-olive-green: #5c743d;
  --accent-deep-red: #6c1b1b;
  --bright-red: #ff4d4d;
  --accent-purple: #5e366e;
  --accent-teal: #1b6a6a;

  --neutral-light-gray: #d3d3d3;
  --neutral-medium-gray: #808080;
  --neutral-charcoal: #333333;
  --neutral-beige: #e0d4b7;
  --low-contrast-light-taupe: #c2b49a;
  --neutral-navy-blue: #001f3f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Imbue", serif;
}

body {
  background-color: var(--main-light-gray);
  color: var(--main-golden);

  position: relative;
}

.dashboard{
  min-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 150px repeat(2, 1fr);
  gap: 20px;
}

.sidebar {
  grid-row-start: span 3;
  background-color: var(--main-dark-gray);

  padding: 0 1rem 1rem 1rem;
}

.nav {
  padding-left: 30px;
  padding-top: 10px;
}

.logo{
  margin-top: -0.5rem;
}

.logo,
.nav-item{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

.logo img {
  width: 80px;
  margin-left: -1rem;
}

.nav-item.settings{
  margin-top: 60px;
}

.header{
  grid-column-start: span 2;
  padding: 0 2.5rem;
  margin-left: -20px;

  display: grid;
  grid-template-rows: 1fr 1fr;

  background-color: var(--neutral-beige);
  color: var(--accent-deep-red);

  box-shadow: 0 2px 5px var(--main-golden);
  position: sticky;
  top: 0;
}

.header .top-row,
.header .bottom-row,
.notif-profile{
  display: flex;
  align-items: center;
  gap: 20px;
}

input[type="search"]{
  background: none;
  border: none;
  border: 2px solid var(--low-contrast-light-taupe);
  color: var(--main-golden);
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1rem;

  flex: 1;
  max-width: 600px;
  margin-right: 60px;
}

input[type="search"]:focus{
  outline: none;
  border: 2px solid var(--main-golden);
}

.notif-profile{
  margin-left: auto
}

img.profile {
  width: 40px;
  border-radius: 120rem;
}

.header .bottom-row{
  display: flex;
}

.bottom-row img{
  width: 60px;
}

.options{
  margin-left: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.options button{
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;

  background-color: var(--accent-deep-red);
  color: var(--neutral-beige);
  border: none;
  outline: none;

  cursor: pointer;
}

.options button:active{
  background-color: var(--main-golden);
  color: var(--main-dark-gray);
}

.projects{
  grid-row-start: span 2;
}

.project-container{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(100px, 200px)); */
  gap: 20px;
}

.project{
  width: 100%;
  height: 150px;
  padding: 1rem;
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--accent-deep-red);
  border-left: 7px solid var(--accent-deep-red);
  background-color: var(--neutral-beige);
}

.project:hover{
  border-left: 7px solid var(--bright-red);

}

.announcements{
  margin-bottom: 40px;
}

.announcement-container,
.trending-container{
  display: grid;
  gap: 20px;
  background-color: var(--neutral-beige);
  padding: 20px;
  margin-top: 5px;
  margin-right: 40px;
  border-radius: 8px;
}

.announcement-container{
  height: 100%;
}

.announcement{
  border-bottom: solid 2px var(--low-contrast-light-taupe);
}

.announcement:hover{
  box-shadow: -10px 5px 5px var(--accent-deep-red);
}

.announcement:last-child{
  border: none;
}

.trending-item{
  display: flex;
  align-items: center;
  gap: 10px;
}

.trending img{
  width: 40px;
  border-radius: 120rem;
}

h4{
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .sidebar{
    display: none;
  }
}
